<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arrow Repairs</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://kit.fontawesome.com/fd2bc706fd.js" crossorigin="anonymous"></script>
</head>
<body>
   
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="#">Arrow Repairs</a></div>
            <ul class="menu">
                <li><a href="#" class="menu-btn">Home</a></li>
                <li><a href="#" class="menu-btn">About</a></li>
                <li><a href="#" class="menu-btn">Services</a></li>
                <li><a href="#" class="menu-btn">Contact</a></li>
                <li><a href="#" class="menu-btn">Feedback</a></li>
                
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
    <div class="title">
        <h1>Schedule your service</h1>
    </div>
    <div class="button">
   <a href="/login" class="btn"> Login</a>
   <a href="/signup" class="btn"> Signup</a>
</div>
</body>
</html>